
.container{
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  flex-wrap: wrap;
  display: flex;
  background-color: whitesmoke;
}
#grid-container {
  display: grid;
  height: 75vh;
  width: 75vh;
  box-sizing: border-box;
  border: solid 1px purple;
}

.gridBlock {
  background-color: white;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.hovered{
  background-color: black;
}
